<strong>Ola, {{ provider }}</strong>
<p>Houve um cancelamento de hórario, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }}<br />
  <strong>Data/hora:</strong> {{ date }} <br />
  <br />
  <small>
    Agradecemos por usar nossa plataforma.
  </small>
</p>
